.gradle/
build/
out/
bin/

*.classpath
.project
.settings

.idea
*.iml
*.iws
*.ipr

gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.gz
*.tar.gz
*.rar
*.zip
!zloader-2.1.0-exec.jar