<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%X{testId:-global}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ALLURE" class="ru.mgprojects.environment.TestLogAllureAppender">
        <encoder>
            <pattern>%date [%X{testId:-unknown}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ALLURE" />
    </root>
    <logger name="com.odin.oa_integration" level="WARN" />
</configuration>
